<html>
    <head>
        <title>View Follows</title>
    </head>
    <body>
        <h1>You can reject these follow requests</h1>
        <form action="/rejectFollow" method="post" id="rejectForm"></form>
        <div>
            {% for request in requests %}
            <input type="radio" name="username_follower" form="rejectForm" value="{{request.username_follower}}" required> Request from {{request.username_follower}}
            <br>
            {% endfor %}
            <br><br>
            <input type="submit" form="rejectForm" value="Reject Request">
            <br>
        </div>
        {% if error %}
            {{ error }}
        {% endif %}
        <br><br>
        <a href="/home">Return</a>
    </body>
</html>
